node_modules
dist
.DS_Store
.env
.env.local
.env.*.local
.cache
.coverage
coverage
.jest-cache
*.log
.vscode
.idea
*.swp
*.swo
*~
.turbo
.next
out
build
.nx/cache
terraform/.terraform
terraform/*.tfstate*
terraform/*.tfvars
!terraform/environments/*.tfvars
docker-compose.override.yml
.mongod
.rabbitmq
.redis
