aws_region = "us-east-1"

subnet_ids = [
  "subnet-xxxx",
  "subnet-yyyy",
  "subnet-zzzz",
  "subnet-aaaa",
  "subnet-bbbb"
]

instance_type = "t3.small"
app_security_group_id = "sg-xxxxxxxx"

target_group_arns = {
  web                         = "arn:aws:elasticloadbalancing:..."
  api-gateway                 = "arn:aws:elasticloadbalancing:..."
  auth-service                = "arn:aws:elasticloadbalancing:..."
  user-management             = "arn:aws:elasticloadbalancing:..."
  registration-service        = "arn:aws:elasticloadbalancing:..."
  tracking-service            = "arn:aws:elasticloadbalancing:..."
  document-management-service = "arn:aws:elasticloadbalancing:..."
  notification-service        = "arn:aws:elasticloadbalancing:..."
  reporting-service           = "arn:aws:elasticloadbalancing:..."
  communication-service       = "arn:aws:elasticloadbalancing:..."
}

database_endpoint = "lab2-postgres.xxxxxx.us-east-1.rds.amazonaws.com"
database_port     = 5432
database_name     = "practicas_db"
database_user     = "postgres"
database_password = "****"

redis_endpoint = "lab2-redis.xxxxxx.cache.amazonaws.com"
redis_port     = 6379
