aws_region = "us-east-1"

vpc_id = "vpc-XXXXXXXX"

public_subnet_ids = [
  "subnet-public-1",
  "subnet-public-2"
]

private_subnet_ids = [
  "subnet-private-1",
  "subnet-private-2"
]

rds_security_group_id    = "sg-rds"
redis_security_group_id = "sg-redis"
alb_security_group_id   = "sg-alb"

db_username = "postgres"
db_password = "Strik412"
