aws_region = "us-east-1"

# From Lab 1 outputs
vpc_id = "vpc-xxxxxxxx"
subnet_ids = [
  "subnet-xxxxxxxx",
  "subnet-yyyyyyyy"
]
rds_security_group_id   = "sg-rds-xxxxxxxx"
redis_security_group_id = "sg-redis-xxxxxxxx"
alb_security_group_id   = "sg-alb-xxxxxxxx"

# Database credentials
db_username = "postgres"
db_password = "SecurePassword123!"
db_name     = "practicas_db"
