name: Deploy Notification Service

on:
  push:
    branches:
      - main
      - qa
    paths:
      - 'apps/notification-service/**'
      - '.github/workflows/notification-service-deploy.yml'
env:
  AWS_REGION: us-east-1
  SERVICE_NAME: notification-service
  ASG_NAME: practicas-support1-asg

jobs:
  build-and-push:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      id-token: write

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-session-token: ${{ secrets.AWS_SESSION_TOKEN }}
          aws-region: ${{ env.AWS_REGION }}

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ github.actor }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build, tag, and push image to Docker Hub
        env:
          IMAGE_TAG: ${{ github.sha }}
        run: |
          REPO=${{ github.actor }}/notification-service
          docker build -t $REPO:latest -t $REPO:$IMAGE_TAG -f apps/$SERVICE_NAME/Dockerfile .
          docker push $REPO:latest
          docker push $REPO:$IMAGE_TAG

      - name: Start ASG Instance Refresh
        run: |
          aws autoscaling start-instance-refresh \
            --auto-scaling-group-name $ASG_NAME \
            --preferences '{"MinHealthyPercentage": 50, "InstanceWarmup": 300}'